<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">
<h1 th:text="${title}"></h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post">
    <label>Cheese to Remove</label>
<!--    Dropdown menu -->
<!--    <select name="cheese">-->
<!--        <option th:each="cheese : ${cheeses}" th:value="${cheese.key}" th:text="${cheese.key}"></option>-->
<!--    </select>-->
    <div th:each="cheese : ${cheeses}" class="checkbox">
        <input type = "checkbox" name = "cheeseIds" th:value="${cheese.id}" th:id="${cheese.id}" />
        <label th:for="${cheese.cheeseId}" th:text="${cheese.name + ': ' + cheese.description}"></label>
        <br />
    </div>
    <br>
    <input type="submit" value="Remove Cheese" />

<!--    <li th:each="cheese: ${cheeses}" th:text="${cheese.key + ': ' + cheese.value}"></li>-->
</form>
</body>
</html>