<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">
<h1 th:text="${title}"></h1>

<nav th:replace="fragments :: navigation"></nav>

<br />
<form method="post">
    <label>Cheese to Remove</label>
    <div th:each="cheese : ${cheeses}" class="checkbox">
        <input type = "checkbox" name = "cheeseIds" th:value="${cheese.uid}" th:id="${cheese.uid}" />
        <label th:for="${cheese.uid}" th:text="${cheese.name + ': ' + cheese.description}"></label>
        <br />
    </div>
    <br>
    <input type="submit" value="Remove Cheese" />
</form>
</body>
</html>