<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">My Cheeses</title>

    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</head>
<body>

<div th:fragment="navigation">

    <div th:if="${userId}">

        <nav class="user-nav">
            <a href="/logout">Log Out</a>
        </nav>

        <nav>
            <a href="/cheese">Home</a> |
            <a href="/category">Categories</a> |
            <a href="/menu">Menus</a>
        </nav>

    </div>

    <div th:unless="${userId}">
        <nav>
            <a href="/login">Log In</a> |
            <a href="/register">Register</a>
        </nav>
    </div>

</div>

<nav th:fragment="user_navigation">
    <a href="/cheese">My Cheeses</a> |
    <a href="/user">List</a> |
    <a href="/user/add">Add</a>
</nav>

<script th:src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script th:src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script th:src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>