<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>
<body class="container body-content">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: user_navigation"></nav>

<br />
<i th:unless="${users} and ${users.size()}">No users yet</i>

<table class="table">
    <tr>
        <th>Username</th>
<!--        <th>Email</th>-->
<!--        <th>Created</th>-->
    </tr>

    <tr th:each="userBase : ${users}">
        <td><a th:href="@{'/userBase/' + ${userBase.userId}}"  th:text="${userBase.username}"></a></td>
<!--        <td th:text="${userBase.email}"></td>-->
<!--        <td th:text="${userBase.created}"></td>-->
    </tr>
</table>
</body>
</html>